[submodule "projects/sel4arm-vmm"]
	url = https://github.com/smaccm/sel4arm-vmm
[submodule "projects/linux"]
	url = https://github.com/smaccm/odroid-3.14.y-linaro
[submodule "libs/libcpio"]
	url = https://github.com/seL4/libcpio
[submodule "libs/libelf"]
	url = https://github.com/seL4/libelf
[submodule "libs/libmuslc"]
	url = https://github.com/seL4/libmuslc
[submodule "libs/libplatsupport"]
	url = https://github.com/seL4/libplatsupport
[submodule "libs/libsel4allocman"]
	url = https://github.com/seL4/libsel4allocman
[submodule "libs/libsel4arm-vmm"]
	url = https://github.com/smaccm/libsel4arm-vmm
[submodule "libs/libsel4muslcsys"]
	url = https://github.com/seL4/libsel4muslcsys
[submodule "libs/libsel4platsupport"]
	url = https://github.com/seL4/libsel4platsupport
[submodule "libs/libsel4simple"]
	url = https://github.com/seL4/libsel4simple
[submodule "libs/libsel4simple-default"]
	url = https://github.com/seL4/libsel4simple-default
[submodule "libs/libsel4simple-stable"]
	url = https://github.com/seL4/libsel4simple-stable
[submodule "libs/libsel4test"]
	url = https://github.com/seL4/libsel4test
[submodule "libs/libsel4twinkle"]
	url = https://github.com/smaccs/libsel4twinkle
[submodule "libs/libsel4utils"]
	url = https://github.com/seL4/libsel4utils
[submodule "libs/libsel4vka"]
	url = https://github.com/seL4/libsel4vka
[submodule "libs/libsel4vspace"]
	url = https://github.com/seL4/libsel4vspace
[submodule "libs/libutils"]
	url = https://github.com/seL4/libutils
[submodule "tools/common"]
	url = https://github.com/seL4/common-tool
[submodule "tools/elfloader"]
	url = https://github.com/seL4/elfloader
[submodule "tools/kbuild"]
	url = https://github.com/seL4/kbuild-tool
